package services

import (
	"github.com/Aliizi83/sample-golang-project/src/config"
	"github.com/Aliizi83/sample-golang-project/src/domain/models"
	"github.com/Aliizi83/sample-golang-project/src/domain/repositories"
	"github.com/Aliizi83/sample-golang-project/src/services/dto"
)

func New{{.Entity}}Service(cfg *config.Config, repository repositories.{{.Entity}}Repository) *{{.Entity}}Service {
	return &{{.Entity}}Service{
		BaseService: NewBaseService[models.{{.Entity}}, dto.Create{{.Entity}}, dto.Update{{.Entity}}, dto.{{.Entity}}](cfg, repository),
	}
}

type {{.Entity}}Service struct {
	*BaseService[models.{{.Entity}}, dto.Create{{.Entity}}, dto.Update{{.Entity}}, dto.{{.Entity}}]
}