package dto

type Create{{.Entity}} struct {
	// Create {{.Entity}} Fields
}

type Update{{.Entity}} struct {
	// Update {{.Entity}} Fields
}

type {{.Entity}} struct {
	Id int
	// {{.Entity}} Fields
}